/* font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /*base*/
    line-height: 20px;

}

header {
    background-color: #2e64a1;
    padding: 16px 0;
    /* padding:1rem 0; */
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 30px;
    margin-left: 10px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 20px;


}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 3px 6px;
    display: block;
    text-align: center;

}

nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.3);
}

footer {
    background-color: #ccc ;
    clear: both;
    color: #333;
    text-align:center;
    padding: 20px;
    margin-top: 10px;

}

nav ul li a.activo {
    background-color: #4c76a5;
}

.holder {
    max-width: 960px;
    margin: 0 auto;

}

h2 {
    color:#2e64a1;
    font-weight: 400;
}

/* inicio home */

.bienvenidos {
    width: 75%;
    padding-right:10px;
    box-sizing: border-box;
}

.testimonios {
    width:25%;
}

.columnas{
    display:flex;
    justify-content: space-between;
}
/* fin home */

.bienvenidos p{
    font-size:20px;
}

.testimonio {
    background-color: #ccc;
    padding:10px;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display:block;
}

.testimonio .autor {
    font-size: 10px;
    text-align: center;
    display:block;
}

/* fin home */

/* inicio nosotros */

.historia p{
    font-size:12px;
}



.persona{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2%;
}

.persona:last-child{
    margin-right: 0;
}

/*
.persona:first-child{
    margin-left: 0;
}
*/

/* .persona:nth-child(3){
    background-color: yellow;
} */


/* .persona:nth-child(2n+1) {
    background-color: orange;
} */

.persona:nth-child(even) { /*par*/
    background-color: yellow;
}

.persona:nth-child(odd) { /*impar*/
    background-color: orange;
}



.persona:nth-child(2n+1){
    background-color: rgb(160, 147, 89);
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow:0 0 5px black;

}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5 {
    font-size: 14px;
    margin-top: 5px;
}

.persona h6 {
    font-size: 11px;
    font-style: italic;
}

.persona p {
    color: gray;
    font-size: 10px;
}


/* fin nosotros */